.listGroup {
    list-style: none;
    padding: 0;
    border: 0.05rem solid #3e4451;
    border-radius: 0.5rem;
}

.listGroupItem:not(:last-child) {
    border-bottom: 0.05rem solid;
}

.listGroupItem {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.active {
    background-color: #0d6efd;
    color: #fff;
}
